* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: beige;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  background-color: black;
}

.box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid black;
  min-height: 80px;
  margin: 10px;
}

.color_CD5C5C { background-color: #CD5C5C; width: 300px;}
.color_DC143C { background-color: #DC143C; width: 300px;}
.color_8B0000 { background-color: #8B0000; width: 300px;}
.color_FF0000 { background-color: #FF0000; width: 300px;}
.color_FFC0CB { background-color: #FFC0CB; width: 400px;}
.color_FF69B4 { background-color: #FF69B4; width: 400px;}
.color_C71585 { background-color: #C71585; width: 800px;}
.color_ADFF2F { background-color: #ADFF2F; width: 300px; height: 120px;}
.color_32CD32 { background-color: #32CD32; width: 450px; height: 150px;}
.color_00FA9A { background-color: #00FA9A; width: 215px; height: 60px;}
.color_2E8B57 { background-color: #2E8B57; width: 215px; height: 60px;}
.color_006400 { background-color: #006400; width: 175px; height: 60px;}
.color_9ACD32 { background-color: #9ACD32; width: 175px; height: 60px;}
.color_808000 { background-color: #808000; width: 370px; height: 150px;}
.color_00FF00 { background-color: #00FF00; width: 300px; height: 120px;}
.color_FFA07A { background-color: #FFA07A; width: 200px;}
.color_FF4500 { background-color: #FF4500; width: 200px;}
.color_BC8F8F { background-color: #BC8F8F; width: 250px; height: 190px;}
.color_F4A460 { background-color: #F4A460; width: 250px; height: 190px;}
.color_D2691E { background-color: #D2691E; width: 300px;}
.color_8B4513 { background-color: #8B4513; width: 300px;}
.color_A52A2A { background-color: #A52A2A; width: 620px;}
.color_800000 { background-color: #800000; width: 300px;}
.color_FFA500 { background-color: #FFA500; width: 200px;}

.first_block, .second_block, .third_block, .third_block_1, .fourth_block, .fifth_block, .sixth_block, .sixth_11 {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.second_column, .third_2, .fourth_2, .sixth_1, .fourth_1, .third_1 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .color_CD5C5C { background-color: #CD5C5C; width: 300px;}
  .color_DC143C { background-color: #DC143C; width: 300px;}
  .color_8B0000 { display: none;}
  .color_FF0000 { background-color: #FF0000; width: 300px;}
  .color_FFC0CB { background-color: #FFC0CB; width: 320px;}
  .color_FF69B4 { background-color: #FF69B4; width: 320px;}
  .color_C71585 { background-color: #C71585; width: 800px;}
  .color_ADFF2F { background-color: #ADFF2F; width: 180px; height: 200px;}
  .color_32CD32 { background-color: #32CD32; width: 220px; height: 200px;}
  .color_00FA9A { background-color: #00FA9A; width: 100px; height: 200px;}
  .color_2E8B57 { background-color: #2E8B57; width: 100px; height: 200px;}
  .color_006400 { background-color: #006400; width: 70px; height: 60px;}
  .color_9ACD32 { background-color: #9ACD32; width: 70px; height: 60px;}
  .color_808000 { background-color: #808000; width: 100px; height: 150px;}
  .color_00FF00 { background-color: #00FF00; width: 180px; height: 100px;}
  .color_FFA07A { background-color: #FFA07A; width: 200px;}
  .color_FF4500 { background-color: #FF4500; width: 200px;}
  .color_BC8F8F { background-color: #BC8F8F; width: 300px; height: 200px;}
  .color_F4A460 { display: none;}
  .color_D2691E { background-color: #D2691E; width: 200px;}
  .color_8B4513 { background-color: #8B4513; width: 200px;}
  .color_A52A2A { background-color: #A52A2A; width: 250px; height: 200px;}
  .color_800000 { background-color: #800000; width: 300px;}
  .color_FFA500 { background-color: #FFA500; width: 200px;}

  .second_column {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  .second_block {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }

  .third_2 {
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    align-self: stretch;
  }

  .third_block{
    flex-direction: row;
    display: flex; 
    justify-content: space-around;
    align-items: baseline;
    align-content: space-between;
  }

  .third_block_1{
    align-content: space-between;
    display: flex;
    justify-content: flex-start;
  }

  .fourth_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .sixth_block{
    display: flex;
    justify-content: space-around;
  }

  .sixth_11{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .sixth_1{
    flex-direction: row;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
    flex-direction: column;
  }
  .color_CD5C5C { background-color: #CD5C5C; width: 200px;}
  .color_DC143C { display: none;}
  .color_8B0000 { display: none;}
  .color_FF0000 { background-color: #FF0000; width: 90px;}
  .color_FFC0CB { background-color: #FFC0CB; width: 140px; height: 160px;}
  .color_FF69B4 { background-color: #FF69B4; width: 140px; height: 160px;}
  .color_C71585 { background-color: #C71585; width: 290px;}
  .color_ADFF2F { display: none;}
  .color_32CD32 { background-color: #32CD32; width: 290px; height: 80px;}
  .color_00FA9A { background-color: #00FA9A; width: 145px; height: 80px;}
  .color_2E8B57 { background-color: #2E8B57; width: 145px; height: 80px;}
  .color_006400 { background-color: #006400; width: 145px; height: 80px;}
  .color_9ACD32 { background-color: #9ACD32; width: 145px; height: 80px;}
  .color_808000 { display: none;}
  .color_00FF00 { display: none;}
  .color_FFA07A { background-color: #FFA07A; width: 145px; height: 80px;}
  .color_FF4500 { background-color: #FF4500; width: 145px; height: 80px;}
  .color_BC8F8F { background-color: #BC8F8F; width: 300px; height: 150px;}
  .color_F4A460 { display: none;}
  .color_D2691E { background-color: #D2691E; width: 300px;}
  .color_8B4513 { background-color: #8B4513; width: 300px;}
  .color_A52A2A { background-color: #A52A2A; width: 300px; height: 150px;}
  .color_800000 { background-color: #800000; width: 300px;}
  .color_FFA500 { background-color: #FFA500; width: 200px;}

  .second_column {
    flex-direction: row;
    display: flex;
  }
  .third_2 {
    flex-wrap: wrap;
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    align-self: stretch;
  }
  .third_block_1{
    flex-wrap: wrap;
  }
  .sixth_block, .sixth_1{
    flex-wrap: wrap;
    display: flex;
  align-items: center;
  flex-direction: column;
  }
}
